.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.containerEpisodes{
  width: 70%;
  margin-right: 5%;

}
.length {
  padding: 0.3rem 1.5rem;
  box-shadow: var(--box-shadow-thin);
  background-color:var(--color-light) ;
  margin-bottom: 0.6rem;
}
