.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.containerEpisodes{
  width: 70%;
  margin-right: 5%;
}
.titleEpisode{
  margin-left:1.2rem;
  margin-right: 0.3rem;
}

.length {
  display: flex;
  justify-content: flex-start;
  height: 2rem;
  align-items: center;
  box-shadow: var(--box-shadow-thin);
  background-color:var(--color-light) ;
  margin-bottom: 0.6rem;
}
.tableContainer {
  padding: 1rem;
  box-shadow: var(--box-shadow-thin);
  background-color:var(--color-light) ;

}
