.header {
  background-color: #ffffff;
  position: sticky;
  top: 0px; 
  z-index: 2;
}
.containerElements {
  display: flex;
  margin-right: auto;
}

.link {
  margin-left: 50%;
  text-decoration: none;
  color:var(--color-blue);
  font-size: 2rem;
  font-weight: 900;
}

.line {
  margin-top: 5px;
  height: 1.25px;
  width: 100%;
  background-color: rgba(184, 184, 184, 0.425);
}
.circle {
  margin-left: auto;
  margin-top: 5px;
  width: 15px;
  height: 15px;
  background-color:var(--color-blue);
  border-radius: 50%;
}