.header {
  height: 80px;
  background-color: #ffffff;
  
}
.container_elements {
  display: flex;
  margin-right: auto;
}

.link {
  margin-top: 2rem;
  text-decoration: none;
  color: rgb(0, 110, 255);
  font-size: 1.25rem;
  font-weight: bold;
}

.line {
  margin-top: 5px;
  height: 1.25px;
  width: 100%;
  background-color: rgba(184, 184, 184, 0.425);
}
.circle {
  margin-left: auto;
  margin-top: 5px;
  width: 15px;
  height: 15px;
  background-color: blue;
  border-radius: 50%;
}