.tabla {
  width: 100%;
  border-collapse: collapse;
  background-color:var(--color--light);
  color:var( --color-dark-text); 
  box-sizing: border-box;
}

.tabla th,
.tabla td {
  padding: 8px;
  text-align: left;
}


.tabla td {
   cursor: pointer;
}
.tabla tr {
  border-bottom: 1px solid #81818171;
}
.tabla tr:nth-child(odd) td {
  background-color: var(--color-table-contrast);
}
.firstColumn {
  width: 70%;
}
.title {
  color:var(--color-blue);
  font-weight:500;
}

.centerAlign {
  display: flex;
  justify-content: center;

}